<%- include('../../fragments/header.ejs') %>
<main>
    <div class="main-content">
        <h2><%= pageTitle %></h2>

        <form class="form" method="post" action="<%= formAction %>" novalidate> <!-- onsubmit="return validateDriverGokartForm();" -->
            <input type="hidden" name="id" value="<%= driverGokart.id %>">
            <label for="driver_id">Kierowca: <span class="symbol-required">*</span></label>
            <select name="driver_id" id="driver_id" required <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                    class="<%= validationErrors.find(e => e.path.includes('driver_id')) ? 'error-input' : '' %>"
            >
                <option value="">== Wybierz Kierowcę ==</option>
                <% for(let i=0; i < allDrivers.length; i++) {
                    console.log("allDrivers.length " +i, allDrivers.length)
                    let driver = allDrivers[i];
                %>
                <option value=" <%= driver.id %>" label="<%= driver.first_name + ' ' + driver.last_name %>"
                        <%= (driverGokart.driver_id && driver.id === parseInt(driverGokart.driver_id)) ? 'selected' : ''%> ></option>
                <% } %>
            </select>
            <span id="errorDriver" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('driver_id'))){%>
                    <%= validationErrors.find(e => e.path.includes('driver_id')).message %>
                <% }%>
            </span>

            <pre><%= JSON.stringify(driverGokart,null,2)%></pre>


            <label for="gokart_id">Gokart: <span class="symbol-required">*</span></label>
            <select name="gokart_id" id="gokart_id" required <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                    class="<%= validationErrors.find(e => e.path.includes('gokart_id')) ? 'error-input' : '' %>"
            >
                <option value="">== Wybierz Gokart ==</option>
                <% for(let i=0; i < allGokarts.length; i++) {let gokart = allGokarts[i]; %>
                <option value=" <%= gokart.id %>" label="<%= gokart.brand + ' ' + gokart.model %>"
                        <%= (driverGokart.gokart_id && gokart.id === parseInt(driverGokart.gokart_id)) ? 'selected' : ''%> ></option>
                <% } %>
            </select>
            <span id="errorGokart" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('gokart_id'))){%>
                    <%= validationErrors.find(e => e.path.includes('gokart_id')).message %>
                <% }%>
            </span>

            <label for="lap_time">Czas przejazdu: <span class="symbol-required">*</span></label>
            <input type="number" name="lap_time" id="lap_time" value="<%= driverGokart.lap_time %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
                   class="<%= validationErrors.find(e => e.path.includes('lap_time')) ? 'error-input' : '' %>"
            />
            <span class="form-unit">s</span>
            <span id="errorLapTime" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('lap_time'))){%>
                    <%= validationErrors.find(e => e.path.includes('lap_time')).message %>
                <% }%>
            </span>

            <label>Stan nawierzchni: <span class="symbol-required">*</span></label>

            <div class="form-radio" >
                <input type="radio" name="wet_track" id="wet" value="true" <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                <%
                if(driverGokart.wet_track === true){ %>
                        <%= "checked"%>
                        <%}%>
                       class="<%= validationErrors.find(e => e.path.includes('wet_track')) ? 'error-input' : '' %>"
                />
                <label for="wet">Mokra</label>

                <input type="radio" name="wet_track" id="dry" value="false" <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                <% if(driverGokart.wet_track === false){ %>
                    <%= "checked"%>
                        <%}%>
                       class="<%= validationErrors.find(e => e.path.includes('wet_track')) ? 'error-input' : '' %>"
                />
                <label for="dry">Sucha</label>
            </div>
            <span id="errorTrackConditions" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('wet_track'))){%>
                    <%= validationErrors.find(e => e.path.includes('wet_track')).message %>
                <% }%>
            </span>

            <div class="form-buttons">
                <% if (formMode == 'showDetails') { %>
                    <a href="/driverGokarts/edit/<%= driverGokart.id %>" class="form-button-edit">Edytuj</a>
                <% } else { %>
                    <input type="submit" value="<%= buttonLabel %>" class="form-button-submit"/>
                    <a href="/driverGokarts" class="form-button-cancel">Anuluj</a>
                <% } %>
            </div>
        </form>
    </div>
</main>

<%- include('../../fragments/footer.ejs') %>