<%- include('../../fragments/header.ejs') %>
<main>
    <div class="main-content">
        <h2><%= pageTitle %></h2>
       <form class="form" method="post" action="<%= formAction %>" novalidate> <!-- onsubmit="return validateGokartForm();"-->
            <input type="hidden" name="id" value="<%= gokart.id %>">
            <label for="brand">Marka: <span class="symbol-required">*</span></label>
            <input type="text" name="brand" id="brand" placeholder="2-20 znaków"
                   value="<%= gokart.brand %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
                   class="<%= validationErrors.find(e => e.path.includes('brand')) ? 'error-input' : '' %>"
            />
            <span id="errorBrand" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('brand'))){%>
                    <%= validationErrors.find(e => e.path.includes('brand')).message %>
                <% }%>
            </span>

            <label for="model">Model: <span class="symbol-required">*</span></label>
            <input type="text" name="model" id="model" placeholder="2-20 znaków"
                   value="<%= gokart.model %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
                   class="<%= validationErrors.find(e => e.path.includes('model')) ? 'error-input' : '' %>"/>
            <span id="errorModel" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('model'))){%>
                    <%= validationErrors.find(e => e.path.includes('model')).message %>
                <% }%>
            </span>

            <label for="color">Kolor: <span class="symbol-required">*</span></label>
            <input type="text" name="color" id="color" placeholder="2-20 znaków"
                   value="<%= gokart.color %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
                   class="<%= validationErrors.find(e => e.path.includes('color')) ? 'error-input' : '' %>"
            />
            <span id="errorColor" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('color'))){%>
                    <%= validationErrors.find(e => e.path.includes('color')).message %>
                <% }%>
            </span>

            <label for="horse_power">Moc: <span class="symbol-required">*</span></label>
            <input type="number" name="horse_power" id="horse_power"
                   value="<%= gokart.horse_power %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
                   class="<%= validationErrors.find(e => e.path.includes('horse_power')) ? 'error-input' : '' %>"
            />
            <span class="form-unit">KM</span>
            <span id="errorPower" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('horse_power'))){%>
                    <%= validationErrors.find(e => e.path.includes('horse_power')).message %>
                <% }%>
            </span>

            <label for="weight">Waga: <span class="symbol-required">*</span></label>
            <input type="number" name="weight" id="weight"
                   value="<%= gokart.weight %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
                   class="<%= validationErrors.find(e => e.path.includes('weight')) ? 'error-input' : '' %>"
            />
            <span class="form-unit">kg</span>
            <span id="errorWeight" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('weight'))){%>
                    <%= validationErrors.find(e => e.path.includes('weight')).message %>
                <% }%>
            </span>

            <label for="fuel_consumption">Zużycie paliwa:</label>
            <input type="number" name="fuel_consumption" id="fuel_consumption"
                   value="<%= gokart.fuel_consumption %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                   class="<%= validationErrors.find(e => e.path.includes('fuel_consumption')) ? 'error-input' : '' %>"
            />
            <span class="form-unit"> (l/100km)</span>
            <span id="errorFuelConsumption" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('fuel_consumption'))){%>
                    <%= validationErrors.find(e => e.path.includes('fuel_consumption')).message %>
                <% }%>
            </span>

            <div class="form-buttons">
                <% if (formMode == 'showDetails') { %>
                    <a href="/gokarts/edit/<%= gokart.id %>" class="form-button-edit">Edytuj</a>
                <% } else { %>
                    <input type="submit" value="<%= buttonLabel %>" class="form-button-submit"/>
                    <a href="/gokarts" class="form-button-cancel">Anuluj</a>
                <% } %>
            </div>
        </form>

        <% if (formMode == 'showDetails') { %>
            <h2>Szczegóły przejazdów</h2>
            <% if(gokart.laps.length <= 0 ) { %>
                <p>Brak rekordów do wyświetlenia</p>
            <%}else{ %>
            <div class="table-div">
                <table class="table-list gokart-driverDetails">
                    <thead>
                    <tr>
                        <th>Kierowca</th>
                        <th>Czas(s)</th>
                        <th>Nawierzchnia</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% for (let driverGokart of gokart.laps) { %>
                        <tr>
                            <td><%= driverGokart.driver.first_name+' '+driverGokart.driver.last_name %></td>
                            <td><%= driverGokart.lap_time %></td>
                            <td><%= driverGokart.wet_track %></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <% } %>

            <div class="form-buttons">
                <a href="/gokarts" class="form-button-details-back">Powrót</a>
            </div>

        <% } %>

    </div>
</main>

<%- include('../../fragments/footer.ejs') %>