<%- include('../../fragments/header.ejs') %>
<main>
    <div class="main-content">
        <h2><%= pageTitle %></h2>
      <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validateDriverForm();">

            <input type="hidden" name="id" value="<%= driver.id %>">
            <label for="first_name">Imię: <span class="symbol-required">*</span></label>
            <input type="text" name="first_name" id="first_name" placeholder="2-20 znaków"
               value="<%= driver.first_name %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
                class="<%= validationErrors.find(e => e.path.includes('first_name')) ? 'error-input' : '' %>"
            />
            <span id="errorFirstName" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('first_name'))){%>
                    <%= validationErrors.find(e => e.path.includes('first_name')).message %>
                <% }%>
            </span>

          <label for="second_name">Imię drugie:</label>
          <input type="text" name="second_name" id="second_name" placeholder="2-20 znaków"
                 value="<%= driver.second_name %>"
                  <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                 class="<%= validationErrors.find(e => e.path.includes('second_name')) ? 'error-input' : '' %>"
          />
          <span id="errorSecondName" class="errors-text">
              <% if(validationErrors.find(e => e.path.includes('second_name'))){%>
                  <%= validationErrors.find(e => e.path.includes('second_name')).message %>
              <% }%>
          </span>

            <label for="last_name">Nazwisko: <span class="symbol-required">*</span></label>
            <input type="text" name="last_name" id="last_name" placeholder="2-20 znaków" value="<%= driver.last_name %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
                   class="<%= validationErrors.find(e => e.path.includes('last_name')) ? 'error-input' : '' %>"
            />
            <span id="errorLastName" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('last_name'))){%>
                    <%= validationErrors.find(e => e.path.includes('last_name')).message %>
                <% }%>
            </span>

            <label for="birthdate">Data urodzenia: <span class="symbol-required">*</span></label>
            <input type="date" name="birthdate" id="birthdate" placeholder="DD-MM-YYYY"

                    <% if(driver.birthdate && formMode != 'createNew' ){ %>
                        value=<%= driver.birthdate.toISOString().split('T')[0] %>
                   <% } %>
                   <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                   required
                   class="<%= validationErrors.find(e => e.path.includes('birthdate')) ? 'error-input' : '' %>"
            />
            <span id="errorBirthdate" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('birthdate'))){%>
                    <%= validationErrors.find(e => e.path.includes('birthdate')).message %>
                <% }%>
            </span>

            <label for="weight">Waga: <span class="symbol-required">*</span></label>
            <input type="number" name="weight" id="weight" value="<%= driver.weight %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
                   class="<%= validationErrors.find(e => e.path.includes('weight')) ? 'error-input' : '' %>"
            />
            <span class="form-unit">kg</span>
            <span id="errorWeight" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('weight'))){%>
                    <%= validationErrors.find(e => e.path.includes('weight')).message %>
                <% }%>
            </span>

            <label for="phone_number">Numer telefonu:</label>
            <input type="text" name="phone_number" id="phone_number" value="<%= driver.phone_number %>"
                    <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                   class="<%= validationErrors.find(e => e.path.includes('phone_number')) ? 'error-input' : '' %>"
            />
            <span id="errorTelephone" class="errors-text">
                <% if(validationErrors.find(e => e.path.includes('phone_number'))){%>
                    <%= validationErrors.find(e => e.path.includes('phone_number')).message %>
                <% }%>
            </span>

            <div class="form-buttons">
                <% if (formMode == 'showDetails') { %>
                    <a href="/drivers/edit/<%= driver.id %>" class="form-button-edit">Edytuj</a>
                <% } else { %>
                    <input type="submit" value="<%= buttonLabel %>" class="form-button-submit"/>
                    <a href="/drivers" class="form-button-cancel">Anuluj</a>
                <% } %>
            </div>

        </form>

        <% if (formMode == 'showDetails') { %>
            <h2>Szczegóły przejazdów</h2>
            <% if(driver.laps.length <= 0 ) { %>
                <p>Brak rekordów do wyświetlenia</p>
            <%}else{ %>
            <div class="table-div">
                <table class="table-list driver-gokartDetails">
                    <thead>
                    <tr>
                        <th>Gokart</th>
                        <th>Czas(s)</th>
                        <th>Nawierzchnia</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% for (let driverGokart of driver.laps) { %>
                        <tr>
                            <td><%= driverGokart.gokart.brand %></td>
                            <td><%= driverGokart.lap_time %></td>
                            <td><%= driverGokart.wet_track %></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <% } %>

            <div class="form-buttons">
                <a href="/drivers" class="form-button-details-back">Powrót</a>
            </div>

        <% } %>
    </div>
</main>
<%- include('../../fragments/footer.ejs') %>